@import "./mixin.less";

.page-content-container.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .icon-text {
    padding: 0 4px;
  }

  > .slice-text {
    margin: 12px 0;
    color: rgay;
    letter-spacing: 2px;
  }

  > .products-wrapper {
    margin: 8px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > .product-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 8px 0;
      padding: 8px 16px;
      border: 1px solid lightgray;
      border-radius: 8px;
      font-size: 16px;

      > .name-text {
        font-size: 22px;
        font-weight: 500;
      }

      > .desc-text {
        margin-bottom: 4px;
      }

      > .repo-text {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        margin-bottom: 4px;
        flex-wrap: wrap;

        > .split-text {
          color: lightgray;
          padding: 0 4px;
        }

        > .url-text {
          border-bottom: none;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          border-radius: 4px;

          &.link {
            color: @text-blue;

            &:hover {
              color: white;
            }
          }

          > .icon-img {
            width: 16px;
            height: auto;
            margin-right: 4px;
          }
        }
      }
    }
  }
}
